

.colores{
  color: aliceblue;
  background-color: #000;

}


body {
  color: antiquewhite;
   background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #f8f8f8; 

}
h1 {
    color: #333; 
}

.contenido {
  
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.8); 
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
}
.menuBoton{
  color: aliceblue;
}